body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.verticalOverflowScroll {
    overflow-y: scroll;
    max-height: 1000px;
}

.maxHeight500 {
}

*:focus {
    border: 2px groove rgba(81, 203, 238, 1);
}

#classList li {
    border: 1px inset gray;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    list-style: none;
    width: 100%;
    min-height: 150px;
    background-color: white;
    box-shadow:rgba(212,212,212,1) 3px 3px;
}

.bottom0 {
    bottom: 0;
}

.border-right {
    border-right: 1px groove black;
    border-radius: 5px;
}